.bookDetailsBody {
    display: grid;
    grid-template-columns: 40% auto;
    justify-items: center;
    padding: 2% 15% 5% 15%;
    gap: 20px;
}

.bookDetailsBody-imgSide img {
    width: 100%;
    max-width: 300px;
}

.bookDetailsBody-textSide {
    display: grid;
    align-content: center;
    justify-items: start;
}

.bookDetailsBody-textSide span {
    font-weight: bold;
}

.bookDetailsBody-description {
    grid-column: span 2;
    padding: 0 5em;
}

.bookDetailsBody-description h2 {
    text-align: center;
}

.commentsText {
    font-style: italic;
    font-weight: bold;
    cursor: pointer;
    font-size: 1.1rem;
}

#usersRated {
    font-weight: 400;
    position: relative;
    bottom: 5px;
    font-size: 0.9rem;
    margin-left: 5px;
}

