@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
  background-color: #e5e4e4;
}

/* 



.cardsList {
  border: 1px solid red;
  margin: 0.4em;
  padding: 0.2em;
  width: 300px;
}

.categoryField {
  border: 1px solid black;
  width: 350px;
  padding: 0.3em;
  margin: 0.3em;
} */


