.singleBook {
  border: 1px solid black;
  padding: 1em;
  display: grid;
  grid-template-columns: 35% auto;
  cursor: pointer;
}

.singleBook:hover {
  transform: translateY(2px);
}

.singleBook img {
  width: 100%;
}

.singleBookTextSide {
  text-align: center;
}

.singleBookTextSide p:first-child {
  font-weight: bold;
  font-size: 1.2rem;
}
