.bookList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 1em 2em;
  gap: 2em;
}

.searchBar {
  display: flex;
  column-gap: 10px;
  justify-content: center;
  margin-top: 1em;
}

